body {
    background-color: rgb(2 16 236 / 26%);
}

h1 {
    text-align: center;
    font-family: 'Goudy Old Style';
    font-size: 90px;
    /* color: rgb(2 16 236 / 26%); */
    text-shadow: 3px 3px 5px #120765;
    padding-left: 176px;
}

.carrinho {
    color: white;
    position: absolute;
    right: 207px;
    bottom: 9px;
    font-size: 37px;
    cursor: pointer;
}

#pagamento {
    font-size: 80px;
    color: white;
    cursor: pointer;
    padding-left: 80px;
    /* float: right; */
}

#pagamento:hover {
    color: #000000;
}

.carrinho:hover {
    color: #000000;
}

img {
    border-radius: 10%;
    height: 95px;
    width: 95px;
    box-shadow: 0px 0px 20px #000000
}

.btMaisMenos{
    position: absolute;
    right: 195px;
    bottom: -2px;
}

.btMenos, .btMais{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 51px;
    padding: 9px;
}

.quantidade{
    position: absolute;
    right: 120px;
    bottom: 20px;
    font-size: 22px;
    background-color: #000000;
    border-radius: 24%;
    padding: 14px;
    color: white;
}

p {
    background-color: #555b7b;
    color: azure;
    position: absolute;
    top: -7px;
    left: 70px;
    width: 60%;
    height: 70px;
    z-index: -1;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 5%;
    border: rgba(218, 219, 231, 0.26) 4px;
    font-family: 'Lucida Handwriting';
    box-shadow: 0px 0px 5px #000000;
    font-size: 20px;
}

.embrulho {
    display: grid;
    place-items: center;
}

#formulario{
    display: grid;
    place-items: center;
}

label{
    font-size: 22px;
}

input{
    width: 600px;
    font-size: 16px;
    border: solid rgb(25 14 40 / 89%);
}

#btFinalizar{
    background-color: #555b7b;
    color: white;
    border: none;
    font-size: 32px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5%;
    padding: 4px;
}

.produto {
    position: relative;
    width: 711px;
    margin-top: 20px;
}

.preco {
    text-align: right;
    float: right;
    margin-right: 10px;
    background-color: rgba(142, 147, 220, 0.26);
    color: white;
    font-weight: bold;
    padding: 5px;
    font-family: "Lucida Console";
}

#listaConsoles {
    padding-left: 174px;
}